CremeBrulev3/CremeBrulev3/Connected Services/ServicioUsuario/ServiceUsuario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceUsuario.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceUsuario.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaVerificada" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
      <xs:element minOccurs="0" name="listCarrito" nillable="true" type="tns:ArrayOfCarrito" />
      <xs:element minOccurs="0" name="listDireccion" nillable="true" type="tns:ArrayOfDireccion" />
      <xs:element minOccurs="0" name="listOrden" nillable="true" type="tns:ArrayOfOrden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrito" nillable="true" type="tns:Carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrito" nillable="true" type="tns:ArrayOfCarrito" />
  <xs:complexType name="Carrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarritoID" type="xs:int" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
      <xs:element minOccurs="0" name="listProducto" nillable="true" type="tns:ArrayOfProducto" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrito" nillable="true" type="tns:Carrito" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDireccion" nillable="true" type="tns:ArrayOfDireccion" />
  <xs:complexType name="Direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" type="xs:int" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionID" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Direccion" nillable="true" type="tns:Direccion" />
  <xs:complexType name="ArrayOfOrden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orden" nillable="true" type="tns:Orden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrden" nillable="true" type="tns:ArrayOfOrden" />
  <xs:complexType name="Orden">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarritoID" type="xs:int" />
      <xs:element minOccurs="0" name="FechaOrden" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrdenID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
      <xs:element minOccurs="0" name="carrito" nillable="true" type="tns:Carrito" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orden" nillable="true" type="tns:Orden" />
</xs:schema>